<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="{{url_for('static', filename='css/404.css', _external=True)}}">
</head>
<body class="bg-purple">
        
    <div class="stars">
        <div class="custom-navbar">
            
        </div>
        <div class="central-body">
            <img class="image-404" src="{{url_for('static', filename='images/404.svg', _external=True)}}" width="300px">
            <a href="/" class="btn-go-home" >GO BACK HOME</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="{{url_for('static', filename='images/rocket.svg', _external=True)}}" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="{{url_for('static', filename='images/earth.svg', _external=True)}}" width="100px">
                <img class="object_moon" src="{{url_for('static', filename='images/moon.svg', _external=True)}}" width="80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="{{url_for('static', filename='images/astronaut.svg', _external=True)}}" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>

        </div>

    </div>

</body>